<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net45" />
  <package id="ILRepack" version="2.0.18" targetFramework="net472" />
  <package id="IronPython" version="2.7.9" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Numpy" version="3.7.1.9" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Python.Included" version="3.7.3.3" targetFramework="net472" />
  <package id="Python.Runtime.AllPlatforms" version="3.7.2.4" targetFramework="net472" />
  <package id="Python.Runtime.NETStandard" version="3.7.1" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
</packages>